.game_box
{
    color: White;
    background-color: hsla(0, 0%, 67%, .8);
    box-shadow: 2px 2px 2px #BBBBBB;
    border: 1px solid #327e04;
}


#card_container
{
    width: 450px;
    float: left;
    
    border: 1px solid hsla(97, 94%, 25%, 0);
}
.bingo_cell
{
    padding: 1em;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    
}

.bingo_cell:hover
{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    background-color: hsla(94, 99%, 55%, .7);
    cursor: pointer;
}

.selected
{
    background-color: hsla(94, 100%, 31%, .7);
}

.bingo_header
{
    font-size: 25px;
    padding: 1em;
}
#ball_container 
{
    width: 1000px;
    margin-left: 10px;
    float: left;
    border: 1px solid #327e04;
}
                  
#bingo_call_container
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 1em 0;
    width: 556px;
    text-align: center;
    border: 1px solid #327e04;
}

#scoreboard_container
{
    float: left;
    width: 100%;
    margin-top: 10px;
    height: 90px;
    border: 1px solid #327e04;
    overflow: auto;
}

#messages
{
    list-style: none;
    margin: 2em;
}
        
#messages strong
{
    display:inline-block;
    width: 100px; 
}

#new_ball_container
{
    border: 1px solid #327e04;
    height: 125px;
    width: 150px;
    float:right;
    /*
    left: 913px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    
    z-index: 150;
    */
}

.newball_img {
    background-repeat: no-repeat; 
    background-size: 125px 100%; 
    height: 125px;
    margin-left: 10px;
    display: none;
}

/*
#new_ball_container div
{       
     background-color: #67b021;
     border: 1px solid #327e04;
     height: 118px;
     -moz-border-radius:75px;
     -webkit-border-radius: 75px;
     width: 118px;
     margin-top: 1px;
     margin-left: 13px;
     background: -moz-radial-gradient(50% 50% 85deg,circle closest-corner, #7EFE1B, #459E00, #C7C7C7 100%);
     text-align: center;
     
}
*/

#new_ball_container .number
{
    font-size: 50px;
    font-weight: bold;
    color: White;
    margin-top: 50px;
    display:inline-block;
    margin-left: 20px;
}

fieldset
{
    padding: 1em;
}

ul#balls
{
}

ul#balls li
{
    float: left;
    margin: .5em 3em;
    display: inline-block;
    width: 94px;
}


#debug
{
    width: 200px;
    position: absolute;
    left:0;
    top: 0;
    margin-top: 80px;
    margin-left: 600px;
}
        
#debug ul
{
    list-style: none;
}


