#card_container
{
    width: 450px;
    float: left;
    
    border: 1px solid #327e04;
}
.bingo_cell
{
    padding: 1em;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    
}

.bingo_cell:hover
{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    background-color: #7efe1b;
    cursor: pointer;
}

.selected
{
    background-color: #459e00;
}

.bingo_header
{
    font-size: 25px;
    padding: 1em;
}
#ball_container 
{
    width: 556px;
    margin-left: 10px;
    float: left;
    border: 1px solid #327e04;
}
                  
#bingo_call_container
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 1em 0;
    width: 556px;
    text-align: center;
    border: 1px solid #327e04;
}

#btn_CallBingo
{
    font-size: 20px;
    font-weight: bold;
}

#scoreboard_container
{
    float: left;
    width: 100%;
    margin-top: 10px;
    height: 90px;
    border: 1px solid #327e04;
}