@model Bingo.Web.Models.Game
@using Bingo.Web.Helpers;

@{
    ViewBag.Title = "Current Game";
}

<h3>Welcome to the Bingo admin page!</h3>
<p>&nbsp;</p>

@using (Html.BeginForm("PickNewNumber", "Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Pick New Number!" />
}

<br />
<p>Numbers already called:</p>
@if (Model.GameBalls.Count > 0)
{
<ul>
    @foreach (var ball in Model.GameBalls)
    {
        <li>Ball #@ball.Letter@ball.Number</li>
    }
</ul>
}
else
{ 
    <text>No balls have been picked yet</text>
}

<br />
<hr />
@using (Html.BeginForm("CloseGame", "Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <input type="submit" value="Close Game (demo only)" />
}
